<section
  class="text-secondary w-full h-[calc(100vh-64px)] bg-shade-of-gray lg:h-[calc(100vh-80px)] flex flex-col flex-wrap gap-3 lg:gap-5 py-3 px-6 lg:px-[52px] lg:py-5 bg-primary"
>
  <h2 class="text-xl font-semibold text-center">Masini</h2>
  <section class="flex flex-row flex-wrap gap-3 lg:gap-5">
    <ui-mat-search-input
      class="!w-60"
      [matFormFieldClassName]="'w-full'"
      [noMatLabel]="true"
      [tablerIconNamePrefix]="'tablerSearch'"
      [clearInputIcon]="true"
      [placeholder]="'Caută'"
      (onSearchValueEmit)="hndEmitSearch($event)"
    ></ui-mat-search-input>
    <button
      uiButton
      class="!w-12"
      color="primary"
      shape="rounded"
      (click)="hndOpenAddModal()"
      [disabled]="actionsLoading$ | async"
    >
      <ng-icon
        class="text-white"
        name="tablerPlus"
        size="24"
        strokeWidth="2"
      ></ng-icon>
    </button>
  </section>

  <app-cars-table
    class="w-full"
    [carPagination]="carsPaginationChange$ | async"
    [loading]="actionsLoading$ | async"
    (sendFilters)="hndOnFiltersEmitRequestCars($event)"
    (onCarEdit)="hndOnEmitSelectEditCar($event)"
    (onCarDelete)="hndOnEmitDeleteCar($event)"
  ></app-cars-table>

  @if(deleteCarLoading$ | async){
  <ui-spinner
    class="fixed left-1/2 top-1/2 z-10 z-10 -translate-x-1/2 -translate-y-1/2 transform"
  ></ui-spinner>
  }
</section>
