@if (carPagination) {
<mat-table
  class="max-h-[calc(100vh-272px)] lg:max-h-[calc(100vh-303px)] w-full flex-wrap overflow-auto !bg-white"
  [dataSource]="dataSource"
  matSort
  (matSortChange)="hndOnSortData($event)"
>
  @if (displayedColumns.includes("Nicio masina")) {
  <ng-container matColumnDef="Nicio masina">
    <th mat-header-cell *matHeaderCellDef>Nicio masina</th>
  </ng-container>
  } @else {
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell
      class="!w-20 !flex-none lg:!w-36"
      *matHeaderCellDef
      [disabled]="loading"
      mat-sort-header
    >
      Numar curent
    </mat-header-cell>
    <mat-cell *matCellDef="let item" class="!w-20 !flex-none lg:!w-36">
      <span>{{ item?.id }}</span>
    </mat-cell>
  </ng-container>

  <!-- Barnd Column -->
  <ng-container matColumnDef="brand">
    <mat-header-cell
      class="!w-52 !flex-none lg:!w-auto lg:!flex-1"
      *matHeaderCellDef
      [disabled]="loading"
      mat-sort-header
    >
      Marca
    </mat-header-cell>
    <mat-cell
      *matCellDef="let item"
      class="!w-52 !flex-none lg:!w-auto lg:!flex-1"
    >
      <span>{{ item?.brand }}</span>
    </mat-cell>
  </ng-container>

  <!-- Model Column -->
  <ng-container matColumnDef="model">
    <mat-header-cell
      class="!w-32 !flex-none lg:!w-auto lg:!flex-1"
      *matHeaderCellDef
      [disabled]="loading"
      mat-sort-header
    >
      Model
    </mat-header-cell>
    <mat-cell
      *matCellDef="let item"
      class="!w-32 !flex-none lg:!w-auto lg:!flex-1"
    >
      <span>{{ item?.model }}</span>
    </mat-cell>
  </ng-container>

  <!-- Year of Manufacture Column -->
  <ng-container matColumnDef="yearOfManufacture">
    <mat-header-cell
      class="!w-20 !flex-none lg:!w-auto lg:!flex-1"
      *matHeaderCellDef
      [disabled]="loading"
      mat-sort-header
    >
      Anul fabricatiei
    </mat-header-cell>
    <mat-cell
      *matCellDef="let item"
      class="!w-20 !flex-none lg:!w-auto lg:!flex-1"
    >
      <span>{{ item?.yearOfManufacture }}</span>
    </mat-cell>
  </ng-container>

  <!-- Cylindrical Capacity Column -->
  <ng-container matColumnDef="cylindricalCapacity">
    <mat-header-cell
      *matHeaderCellDef
      class="!w-40 !flex-none lg:!w-auto lg:!flex-1"
      mat-sort-header
    >
      Capacitatea cilindrica
    </mat-header-cell>
    <mat-cell
      *matCellDef="let item"
      class="!w-40 !flex-none lg:!w-auto lg:!flex-1"
    >
      <span>{{ item?.cylindricalCapacity }}</span>
    </mat-cell>
  </ng-container>

  <!-- Tax Fee Column -->
  <ng-container matColumnDef="taxFee">
    <mat-header-cell
      *matHeaderCellDef
      class="!w-40 !flex-none lg:!w-auto lg:!flex-1"
      mat-sort-header
    >
      Taxa de impozit
    </mat-header-cell>
    <mat-cell
      *matCellDef="let item"
      class="!w-40 !flex-none lg:!w-auto lg:!flex-1"
    >
      <span>{{ item?.taxFee | currency : "" : "" }} RON</span>
    </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="!w-32 !flex-none">
      Actiuni
    </mat-header-cell>
    <mat-cell *matCellDef="let item" class="!w-32 !flex-none">
      <div class="flex-warp flex gap-2">
        <button
          class="h-5 w-5"
          (click)="hndOnClickEditCar(item)"
          [disabled]="loading"
        >
          <ng-icon
            class="text-secondary"
            name="tablerEdit"
            size="20"
            strokeWidth="2"
          ></ng-icon>
        </button>

        <button
          class="h-5 w-5"
          (click)="hndOnClickDeleteCar(item)"
          [disabled]="loading"
        >
          <ng-icon
            class="text-secondary"
            name="tablerTrash"
            size="20"
            strokeWidth="2"
          ></ng-icon>
        </button>
      </div>
    </mat-cell>
  </ng-container>
  }

  <mat-header-row
    class="!sticky top-0 z-10 !border !border-b"
    *matHeaderRowDef="displayedColumns"
  ></mat-header-row>

  <mat-row
    class="!border !border-b !text-sm !font-normal !text-secondary transition duration-300 ease-in-out hover:!bg-shade-of-gray"
    *matRowDef="let row; columns: displayedColumns"
  ></mat-row>
</mat-table>
}

<mat-paginator
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  [length]="length"
  [showFirstLastButtons]="showFirstLastButtons"
  (page)="handlePageChange($event)"
  [disabled]="loading"
></mat-paginator>
